<aside class="w-40 bg-base-200 pt-2 pb-4 px-4 flex flex-col gap-2">
  <ul class="menu menu-vertical rounded-box">
    <li><a href="/" class="">Home</a></li>
    <li><a href="/songs" class="">Songs</a></li>
    <!-- 必要に応じてメニュー追加 -->
  </ul>
</aside>
