<div x-data="{ theme: localStorage.getItem('theme') || 'light' }" class="dropdown dropdown-end">
  <label tabindex="0" class="btn btn-sm btn-outline m-1">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path d="M10 3.25a.75.75 0 01.75.75v1a.75.75 0 01-1.5 0v-1A.75.75 0 0110 3.25zm5.303 1.697a.75.75 0 011.06 1.06l-.707.708a.75.75 0 11-1.06-1.06l.707-.708zM16.75 10a.75.75 0 01.75.75v1a.75.75 0 01-1.5 0v-1a.75.75 0 01.75-.75zm-1.697 5.303a.75.75 0 01-1.06 1.06l-.708-.707a.75.75 0 111.06-1.06l.708.707zM10 16.75a.75.75 0 01-.75-.75v-1a.75.75 0 011.5 0v1a.75.75 0 01-.75.75zm-5.303-1.697a.75.75 0 01-1.06-1.06l.707-.708a.75.75 0 111.06 1.06l-.707.708zM3.25 10a.75.75 0 01-.75-.75v-1a.75.75 0 011.5 0v1a.75.75 0 01-.75.75zm1.697-5.303a.75.75 0 011.06-1.06l.708.707a.75.75 0 11-1.06 1.06l-.708-.707zM10 6.5a3.5 3.5 0 100 7 3.5 3.5 0 000-7z"/></svg>
    <span x-text="theme.charAt(0).toUpperCase() + theme.slice(1)"></span>
  </label>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-36 mt-2">
    <template x-for="t in ['light','dark','black','synthwave','retro','dracula','night','winter','luxury','coffee','forest','aqua','pastel','cyberpunk','valentine','cmyk','autumn','business','acid','lemonade']" :key="t">
      <li>
        <button class="w-full text-left" :class="theme === t ? 'btn-primary btn-sm' : ''" @click="theme = t; document.documentElement.setAttribute('data-theme', t); localStorage.setItem('theme', t)">
          <span x-text="t.charAt(0).toUpperCase() + t.slice(1)"></span>
        </button>
      </li>
    </template>
  </ul>
</div>
